.result {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .image-sentiment-container {
    display: flex;
    align-items: center;
  }
  
  .image-container {
    width: 400px; /* Adjust the width as needed */
    margin-right: 20px; /* Adjust the spacing as needed */
  }
  
  .preview-image {
    max-width: 100%;
    height: auto;
  }
  
  .sentiment {
    flex-grow: 1;
  }
  
  .prediction-label {
    font-size: 30px;
    margin-right: 5px; /* Adjust the spacing as needed */
  }
  